
{{!-- copy-and-paste from the source code of ghost default navigation helper --}}
<ul class="nav">
    {{!-- ignore navigation, use megamenu instead --}}
    {{#foreach navigation}}
    {{!-- <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{url absolute="true"}}">{{label}}</a></li> --}}
    {{/foreach}}

    {{> nav-megamenu/about }}

    {{> nav-megamenu/maps }}

    {{> nav-megamenu/research }}

    {{> nav-megamenu/policy }}

    {{> nav-megamenu/education }}

    {{> nav-megamenu/events }}

</ul>

{{!-- Sample megamenu content

<div class="dropdown">
    <a class="dropbtn" href="map">China Maps
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content">
      <div class="row">
        <div class="column">
          <h3>Category 1</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 2</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
        </div>
      </div>
    </div>
  </div>

 --}}