{{!< default}}

{{> "img-navbar"}}
<div class="content-wrapper">

{{#post}}

<main id="site-main" class="site-main">

{{> feature-image-to-banner}}

<section class="gh-content gh-canvas">
    {{content}}
</section>


</article>
</main>

{{/post}}

</div>