{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<style>
  a.section-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  a.section-title .fa-solid {
    margin-right: 3rem;
  }

  a.section-title {
    font-size: 1.8rem;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
  }

  a.section-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-theme-orange);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.2s ease-out;
  }

  a.section-title:hover:after {
    transform: scaleX(1);
    font-weight: bold;
  }

  .dropdown .dropdown-menu a h1,
  .dropdown .dropdown-menu a h5,
  .dropdown .dropdown-menu p {
    margin: 0;
  }


</style>

<main id="site-main" class="site-main">

{{> feature-image-to-banner}}

<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">

<section class="gh-content gh-canvas">
  {{content}}

  <div class="row">
    <div class="col-12">
      <a class="section-title" href="/media-conference">
        <h1 class="d-flex align-items-center">
          <i class="fa-solid fa-video me-2"></i>
          Conference
        </h1>
      </a>
      <p class="post-card-excerpt">
        Dive deeper into the world of global China with our handpicked collection of captivating videos! You'll find everything from thought-provoking interviews with leading experts to thrilling recordings of the latest conferences, all in one place.
      </p>
      <br>
      
    </div>
    <div class="col-12">
      <a class="section-title" href="/media-events">
        <h1 class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-days me-2"></i>
          Events
        </h1>
      </a>
      <p class="post-card-excerpt">
        Take a step into the world of global China with our exciting timeline of events! From fascinating talks and workshops to groundbreaking conferences, you'll stay up-to-date on all the latest happenings in the world of global China.
      </p>
      <br>
    </div>
    <div class="col-12">
      <a class="section-title" href="/media-news">
        <h1 class="d-flex align-items-center">
          <i class="fa-solid fa-newspaper me-2"></i>
          News
        </h1>
      </a>
      <p class="post-card-excerpt">
        Keep your finger on the pulse of global China with our curated list of news articles. From breaking stories to in-depth analysis, you'll get a well-rounded view of all the latest happenings in politics, economics, culture, and society. Get ready to be informed and inspired!
      </p>
      <br>
    </div>
  </div>

</section>



</article>
</main>

{{/post}}