{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}


<main id="site-main" class="site-main">

{{> feature-image-to-banner}}

<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">
    <section class="gh-content gh-canvas">
        {{content}}

   </section>
   {{!-- fetch event posts --}}
    {{#get "posts" filter="slug:~^'event-'" limit="5"}}
        {{> "carousel-slider"}}
    {{/get}}

    {{!-- events --}}
    {{#get "posts" filter="slug:~^'event-'"  limit="all" include="tags,authors"}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "homepage-post-feed"}}
    {{/get}}

    {{!-- videos --}}

    {{!-- news --}}
 
</article>
</main>
{{/post}}