<div class="dropdown">
    <a class="dropbtn" href="policy">Policy
    </a>
    <div class="dropdown-content">
				<div class="row">
				<div class="column">
					<h5 class="dropdown-header">Section 1</h5>
					<p class="dropdown-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in volutpat felis. Suspendisse eget enim ut odio molestie suscipit. Nulla facilisi. Sed bibendum, velit vitae bibendum consequat, massa elit aliquam elit, vel dapibus arcu neque eu nulla. Aenean a nulla magna. </p>
					<img class="dropdown-img" src="https://via.placeholder.com/300x200" alt="Image">
				</div>
				<div class="column">
					<h5 class="dropdown-header">Section 2</h5>
					<ul class="list-unstyled">
					<li><a href="#" class="dropdown-item">Link 1</a></li>
					<li><a href="#" class="dropdown-item">Link 2</a></li>
					<li><a href="#" class="dropdown-item">Link 3</a></li>
					<li><a href="#" class="dropdown-item">Link 4</a></li>
					</ul>
				</div>
				<div class="column">
					<h5 class="dropdown-header">Section 3</h5>
					<ul class="list-unstyled">
					<li><a href="#" class="dropdown-item">Link 5</a></li>
					<li><a href="#" class="dropdown-item">Link 6</a></li>
					<li><a href="#" class="dropdown-item">Link 7</a></li>
					<li><a href="#" class="dropdown-item">Link 8</a></li>
					</ul>
				</div>
				</div>
    </div>
  </div>