<li class="nav-item dropdown">
    <a class="nav-link" href="#">Research</a>
    <!-- Dropdown menu -->
    <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown" style="border-top-left-radius: 0px; border-top-right-radius: 0px; position: absolute; inset: 0px auto auto 0px;;" data-popper-placement="bottom-start" data-mdb-popper="null">
        <div class="dropdown-container">
            <div class="row my-3">
                <div class="col-md-12 col-xl-6 mb-3 mb-xl-0">
                    <div class="pt-2">
                        <i class="fas fa-caret-right pe-2" aria-hidden="true"></i>
                        <a href="/research">
                            <h1>Research Briefs</h1>
                        </a>
                        {{#get "pages" filter="slug:research" limit="1"}}
                            {{#foreach pages}}
                                <p>{{excerpt}}</p>
                            {{/foreach}}
                        {{/get}}
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="list-group list-group-flush">
                    <h3 class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Regions
                    </h3>
                    <a href="/tag/africa" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Africa
                        <i class="fa-solid fa-earth-africa"></i></a>
                    <a href="/tag/asia-pacific" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Asia-Pacific
                        <i class="fa-solid fa-earth-asia"></i></a>
                    <a href="/tag/eurasia" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Eurasia
                        <i class="fa-solid fa-earth-europe"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="list-group list-group-flush">
                    <h3 class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Sustainability
                    </h3>
                    <a href="/tag/economics" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Economics
                        <i class="fa-solid fa-money-bill"></i>
                        </a>
                    <a href="/tag/environment" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Environment
                        <i class="fa-solid fa-seedling"></i></a>
                    <a href="/tag/law" class="list-group-item list-group-item-action">
                        <i class="fas fa-caret-right pe-2"></i>Law
                        <i class="fa-solid fa-scale-unbalanced-flip"></i></a>
                    </div>
                </div>
 
           </div> 
        </div>
    </div>
</li>
