<div id="nav-box" class="nav-box outer">
    <div class="inner">
        <a class="nav-box-link" href="#nav-box">
            <h1>Navigation</h1>
            <i class="fa-solid fa-caret-down"></i>
        </a>
        <p>Center for Global China provides maps, datasets, and research on Chinese overseas engagement, including the Belt and Road Initiative, to help </p>
    </div>  
</div>