<div id="nav-box" class="nav-box outer">
    <div class="inner">
        <a class="nav-box-link" href="#nav-box">
            <h6>Navigation</h6>
            <i class="fa-solid fa-caret-down"></i>
        </a>
        <p class="nav-box-text">
        {{#if @custom.footer_description}}
            <p>{{@custom.footer_description}}</p>
        {{else}}
            <p>Center for Global China provides maps, datasets, and research on Chinese overseas engagement, including the Belt and Road Initiative, to help understand its impact</p>
        {{/if}}
        </p>
    </div>  
</div>

