/* Megamenu
 * -----------------------------------------------------
   The megamenu is structured as follow:

div.gh-head
  div.gh-head-inner
    nav.gh-head-menu
      li.nav-item.dropdown
        a.nav-link
        div.dropdown-menu
          div.container   // the bootstrap grid system 
            div.row
              div.col
              div.col
              ...
      li.nav-item.dropdown
        ...
      ...

 */

.gh-head-logo {
  padding: 10px;
}

.gh-head-menu .nav-item {
  position: static;
}

.gh-head-menu .nav-item .nav-link {
  font-size: 2rem;
  font-weight: bold;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  text-shadow: 0.05rem 0.05rem #000;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color ease-in-out 0.2s, font-size 0.2s;
}

.gh-head-menu .nav-item .nav-link:hover,
.gh-head-menu .nav-item .nav-link.active {
  text-shadow: 0.5rem 0.5rem #000;
  transition: ease-in-out 0.1s;
}

.gh-head-menu .nav-item .nav-link.active {
  font-size: 2.4rem;
  background-color: var(--color-soft-red);
  /* round-corner */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-shadow: 0.05rem 0.05rem #000;
  transition: ease-in-out 0.1s;
}

.animated-underscore {
  position: relative;
  display: inline-block;
}


/* hide dropdown-menu unless hovered on nav-link or dropdown-menu */
.gh-head-menu .nav-item .dropdown-menu  {
  display: none;
  /* display: block; */
  /* visibility: hidden;  */
  /* opacity: 0.0;     */
  font-size: 2rem;
  /* transform: translate3d(0px, 64px, 0px); */
  margin: 0px;
  border: black solid 0.2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}



/* on mobile phone */
@media (max-width: 800px) {
  /* hide actions so that it won't occlude megamenu dropdown */

  #gh-head {
    padding: 5px;
  }

  #gh-head .gh-head-inner {
    height: auto;
  }

  #gh-head .gh-head-menu .nav-item{
    width: 100%;
    position: relative;
  }

  #gh-head .gh-head-menu .nav-item .nav-link {
      font-size: 2.6rem;
      font-weight: 600;
      text-transform: none;
  }

  #gh-head .gh-head-menu .nav-item .dropdown-menu {
    position: absolute;
    /* transform: translate3d(0px, 54px, 0px); */
    font-size: 1.5rem;
    /* better fit dropdown into menu */
    margin: 0px;
    width: 100%;
  }

  /* hide action bar so that it won't occlude dropdown */
  #gh-head .gh-head-actions{
    display: none !important;
  }

  .gh-head-menu .nav-item .nav-link:hover,
  .gh-head-menu .nav-item .nav-link.active {
    text-shadow: 0.05rem 0.05rem #000;
  }

}

/* Style for content inside dropdown menu */

.dropdown .dropdown-menu a {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.dropdown .dropdown-menu a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-soft-red);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s ease-out;
}

.dropdown .dropdown-menu a:hover:after {
  transform: scaleX(1);
}

.dropdown .dropdown-menu a h5,
.dropdown .dropdown-menu p {
  margin: 0;
}

.dropdown .dropdown-menu a h5 {
  font-size: 1.8rem;
  font-weight: bold;
}

.dropdown .dropdown-menu p {
  font-size: 1.25rem;
  line-height: 2rem;
}
