/* make nav-link width=100% when in hamburger menu */

.gh-head-menu .nav-link {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem #000;
}

.gh-head-menu .nav-item {
  position: static;
}

.gh-head-menu .nav-link + .dropdown-menu  {
  display: none;
  font-size: 2rem;
  transform: translate3d(111px, 80px, 0px);
}

.gh-head-menu .nav-link:hover + .dropdown-menu  {
  display: block;
}

.gh-head-menu .nav-link + .dropdown-menu:hover  {
  display: block;
}

.gh-head-menu .nav-link:hover + .dropdown-menu:hover  {
  display: block;
}

/* on mobile phone */
@media (max-width: 767px) {
  /* hide actions so that it won't occlude megamenu dropdown */

  #gh-head .gh-head-inner {
    height: auto;
  }

  #gh-head .gh-head-menu .nav-item{
    width: 100%;
    position: relative;
  }

  /* disable hover function when in hamburger menu */
  /* .gh-head-menu .nav-link + .dropdown-menu  {
    display: none;
  }
  
  .gh-head-menu .nav-link:hover + .dropdown-menu  {
    display: none;
  }
  
  .gh-head-menu .nav-link + .dropdown-menu:hover  {
    display: none;
  }
  
  .gh-head-menu .nav-link:hover + .dropdown-menu:hover  {
    display: none;
  } */

  /* use megamenu.js to make the nav-item clickable in hamburger menu */
  #gh-head .gh-head-menu .nav-item .dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 54px, 0px)
  }

  #gh-head .gh-head-actions{
    display: none !important;
  }

  #gh-head .gh-head-menu a:hover {
    background-color: red;
  }
  
}